# Vendor files
# ------------

/kirby
/vendor
/node_modules

# Package managers
# ------------

composer.lock
package-lock.json

# Plugin files
# ------------

/site/plugins/*
!/site/plugins/kirby-panel-extended
!/site/plugins/kirby-site-extended
/site/config/vite.config.php
.dev

# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html
/build

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------

*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Environment
# ---------------

.env

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license
